html,
body {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 0 2.5rem 4rem;
    width: 21rem;
    height: 100%;
    background-color: var(--accent-light);

    .logo {
        color: var(--text-secondary);
        font-weight: 600;
        margin-bottom: 6rem;
        font-size: 1.2rem;
    }

    .links {
        > div {
            padding: 0.8rem 0.5rem;
            border-radius: 10px;
    
            &:hover {
                cursor: pointer;
                background-color: var(--accent-base);
            }
        }

        div:nth-child(1) {
            background-color: var(--accent-base);
        }

        a {
            color: var(--text-secondary);
        }

        path {
            fill: var(--text-secondary) !important;
        }

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

.main-view {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 6rem;

    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &:hover {
            cursor: pointer;
            opacity: 0.6;

            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            transition: all 0.3s ease;
        }
    }

    .message {
        font-weight: 500;
        padding: 0.5rem 0.7rem;
        border-radius: 10px;
        border: 2px solid var(--light-grey);
        margin-top: 4rem;
    }

    .cv-section {
        margin-top: 1rem;
        border-radius: 10px;
        background-color: var(--lighter-grey);
        padding: 2rem;

        h1 {
            font-weight: 600;
        }
    }
}

#sort-by {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--grey);
    width: max-content;
    border-radius: 10px;
    font-weight: 500;

    svg {
        margin-bottom: 0.2rem;

        path {
            fill: var(--grey) !important;
        }
    }
}

#upload-button {
    top: 2rem;
    right: 2rem;
    color: var(--text-secondary);
    background-color: var(--accent-light);
    padding: 0.7rem 1.5rem;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.cv-container {
    margin-top: 2rem;

    .cv {
        padding: 3rem;
        width: 20rem;
        height: 28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 4px dashed var(--light-grey);
        background: var(--text-secondary);
        color: var(--grey);
        opacity: 0.6;
        background-size: contain;

        svg {
            width: 2rem;
            height: 2rem;
            margin-bottom: 0.5rem;

            path {
                fill: var(--grey);
                opacity: 0.6;
            }
        }

        &.unuploaded {
            &:hover {
                opacity: 0.6 !important;
                cursor: pointer;
            }

            .overlay {
                display: none;
            }
        }
        
        .overlay {
            display: flex;
            background-color: rgba(0, 0, 0, 0.4);
            gap: 1rem;

            button {
                width: 12rem;
                color: var(--text-secondary);
                background-color: var(--accent-light);
                padding: 0.7rem 1.5rem;
                border-radius: 10px;

                &:hover {
                    background-color: var(--accent-base);
                    cursor: pointer;
                }
            }

            span {
                position: absolute;
                bottom: 0;
                padding: 0.5rem 1rem;
                width: 100%;
                background-color: var(--text-secondary);
                font-weight: 600;
            }
        }
    }
}