@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

html,
body {
    width: 100%;
    height: 100%;
}

input,
button,
textarea,
select {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    appearance: none;
}

/* Change selection color */
::selection {
    background-color: var(--accent-light);
    color: var(--text-primary);
}

/* Fallback for older browsers */
::-moz-selection {
    background-color: var(--accent-light);
    color: var(--text-primary);
}

.hidden {
    display: none !important;
}